@{
    Layout = null;
}


@model List<PokemonMVC.Models.PokemonModel>

<h2>Pokémon List</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var pokemon in Model)
    {
        <tr>
            <td>@pokemon.Name</td>
            <td>
                <a asp-action="Details" asp-route-name="@pokemon.Name">View</a>
            </td>
        </tr>
    }
</table>
